@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --PrimaryColor: hsl(29, 100%, 50%); /* Rich orange color associated with Moroccan landscapes */
  --SecondaryColor: hsl(7, 85%, 43%); /* Deep red color reminiscent of Moroccan architecture */
  --gradientColor: linear-gradient(
    to right,
    hsl(7, 85%, 43%),
    hsl(29, 100%, 50%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textcolor: hsl(30, 10%, 20%); /* Dark brown for text */
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(150, 150, 150); /* Slightly warmer grey */
  --inputColor: rgb(220, 220, 220); /* Light grey for input fields */
  --bodyColor: rgb(255, 255, 245); /* Off-white background color */
  --cardBG: rgb(255, 255, 235); /* Creamy background color for cards */
}


html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.section {
  padding: 4rem 0 2rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}
.btn {
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--SecondaryColor);
}
img,
video {
  width: 100%;
  height: auto;
}
input {
  font-size: 100%;
}
body {
  background: var(--bodyColor);
}

@media screen and (min-width: 1240) {
  .container {
    width: 80% !important;
    margin: auto !important;
  }

  .section {
    padding: 6rem 0 4rem;
  }
}

@media screen and (min-width: 2560px) {
  body {
    zoom: 1.7;
  }
}
